.bar--1 {
	margin-top: 0; //TODO: Fix this so it will scale;
	background-image: url(../img/bar1.jpg);
	background-size: cover;
}

.bar--2 {
	background-image: url(../img/bar2.jpg);
	background-size: cover;
}

.bar--3 {
	background-image: url(../img/bar3.jpg);
	background-size: cover;
}