// TODO: Overflow modal needs some js voodo to add border to header when scrolling
// TODO: Full screen modal layouts

.dialog {
  position: relative;
  left: 50%;
  z-index: z-level(dialog);
  transform:  translateX(-50%);
  min-width: grid-unit(35);
  border-radius: 2px;
  background-color: #fff;
}

.dialog__title {
  padding: grid-unit(3) grid-unit(3) grid-unit(2.5);

  & + .dialog__contentArea {
    padding-top: 0;
    padding-bottom: grid-unit(2);
  }
}

.dialog__contentArea {
  padding: grid-unit(3);

  &:last-child {
    margin-bottom: 0;
  }

  p {
    color: color(black, shade);
  }
}

// TODO: Should be mobile only add media query
.dialog__contentArea--overflow {
  overflow-y: scroll;
}

.dialog__actionArea {
  padding: grid-unit(1);
  text-align: right;
}

.dialog__actionArea--stacked {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 0;
}

.dialog-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color(black, shade);
}
