.dialog {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, .55);
	padding: grid-unit(3) grid-unit(5);

	p,
	li { color: rgba(0,0,0, .54); }
}

.dialog__modal {
	border-radius: 2px;
	background-color: #fff;
	min-width: grid-unit(35);
	width: 100%;
}

.dialog__contentArea {
	padding: grid-unit(3);

	p:last-of-type { margin-bottom: 0; }
}

.dialog__title {
	margin-bottom: grid-unit(2.5);
	font-weight: 500; //Rather add additional type style.
}

.dialog__actionArea {
	padding: grid-unit(1);
	text-align: right;
}

.dialog__action {
	padding-right: grid-unit(1) !important; // Important required or requires on cascade for button inheritance.
	padding-left: grid-unit(1) !important;
}