.iconList {
	padding-left: 1.75em;
	opacity: 0;
	// transition: opacity 500ms;
}

.iconList__item {
	position: relative;
	list-style: none;

	i  {
		position: absolute;
		top: 3px;
		left: -1.25em;
		font-size: 1.2em;
		transform: scale(0);
		opacity: 0;
	}
}

.iconList--check {
	i { color: color(primary);}
}
