.topBar {
	display: flex;
	align-items: center;
	position: relative;
	background-color: color(primary);
	padding-right: grid-unit(1);
	padding-left: grid-unit(1);
	height: grid-unit(7);

	* {
		color: color(white);
	}
}

.topBar__action--left {
	flex-basis: grid-unit(8);
	min-width: grid-unit(8);
}

.topBar__action--right {
	margin-left: auto;
}
