// Setup
//
// Environment setup for codepen.

$baseline: 8px;

@function grid-unit($multiplier) {
  @return $multiplier * $baseline;
}

$colors: (
  primary: #009688,
  secondary: #000
);

@function color($key) {
  @return map-get($colors, $key);
}

$z-level: (
  dialog: 10
);

@function z-level($key) {
  @return map-get($z-level, $key);
}

$tracking: (
  5: .0125em,
  10: .025em,
  20: .05em
);

@function tracking($key) {
  @return map-get($tracking, $key);
}

// The following box-shadow settings originate from getmdl.io
$shadow-key-umbra-opacity: .2;
$shadow-key-penumbra-opacity: .14;
$shadow-ambient-shadow-opacity: .12;

$paper: (
  1: (0px 2px 1px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 3px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  2: (0px 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 5px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  3: (0px 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 3px 4px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 8px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  4: (0px 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 4px 5px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 10px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  5: (0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 5px 8px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 14px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  6: (0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 6px 10px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 18px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  7: (0px 4px 5px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 7px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 16px 1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity)),
  8: (0px 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity))
);

@function paper($key) {
  @return map-get($paper, $key);
}

$transition-timing: cubic-bezier(.4, 0, 1, 1);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .01em;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  text-align: left;
  color: inherit;
}

// Material Design Components.

@import "type";
@import "buttons";
@import "paper";
@import "topbar";
@import "cards";
@import "floatingActions";
@import "bars";
@import "dialogs";
@import "data-tables";
@import "lists";
@import "dividers";
@import "iconLists";

// Page Specific Styles.

@import "reportModal";

.mobileWrap {
  position: relative;
  margin: 8px auto 0;
  width: 375px;
  height: 667px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.mobileWrap__statusBar {
  background-color: #00897B; // Should be rgba pos-a
  height: 24px;
}

.content {
  height: 587px;
  overflow-y: auto;
}

.pageAction--email,
.pageAction--add {
  right: grid-unit(2);
  bottom: grid-unit(2);
}

.pageAction--email {
  bottom: grid-unit(11);
}


